.dark-mode {
  --aura-white: #000000;
  --aura-blue: #4bbdcc;

  --aura-base-color: var(--aura-purple);
  --sub-header: url("https://images.prismic.io/pablopvsky/f60ccbfb-5f89-4d38-a592-0397a02696df_pablopvsky-subheader.jpg?auto=compress,format");
}

*:root {
  --aura-font-quotes: serif;
  --aura-snow: #fafafa;
  --aura-purple: #974493;
  --aura-white: #fff;
  --aura-black: #060a17;
  --aura-orange: #feefe8;
  --aura-orange-rose: #fee8ef;
  --aura-pink: #fee8fc;
  --aura-pink-purple: #f3e8fe;
  --aura-blue: #4bbdcc;
  --aura-teal-green: #e8fef7;
  --aura-green: #e8feea;
  --aura-lemon-green: #f3fee8;
  --aura-yellow: #fefbe8;
  --aura-cold-grey: #e8e7ed;
  --aura-grey: #f6f7f9;
  --aura-bg: var(--aura-white);
  --aura-accents-10: #fafafa;
  --aura-accents-9: #f0f2fb;
  --aura-accents-8: #f0f2fb;
  --aura-accents-7: #dce1f6;
  --aura-accents-6: #c8d0f0;
  --aura-accents-5: #8c9cdf;
  --aura-accents-4: #5068ce;
  --aura-accents-3: #2e44a3;
  --aura-accents-2: #182253;
  --aura-accents-1: #111111;
  --aura-accents-0: #000000;
  --aura-module: var(--aura-accents-1);
  --aura-dark: var(--aura-white);
  --aura-accents-primary: #cd9ffb;
  --aura-accents-secondary: #0882ba;
  --aura-accents-success: #08ba82;
  --aura-accents-success-bg: var(--aura-teal-green);
  --aura-accents-info: #8b9afa;
  --aura-accents-info-bg: var(--aura-purple);

  --aura-accents-danger: #ba4108;
  --aura-accents-danger-bg: var(--aura-orange);
  --aura-accents-radius: var(--aura-radius);
  --aura-input-radius: var(--aura-radius);
  --aura-button-radius: var(--aura-radius);
  --aura-input-bg: #0c122b;
  --aura-input-placeholder-color: rgba(255, 255, 255, 0.4);
  --aura-radius: 13px;
  --aura-link-color: var(--aura-fg);
  --aura-opacity: 0.5;
  --aura-selector: #cd9ffb;
}

body {
  background-color: #000000;
}

@font-face {
  font-family: "iAWriterMonoS";
  src: url("/fonts/iAWriterMonoS-Regular.woff2") format("woff2"),
    url("/fonts/iAWriterMonoS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pablopvsky";
  src: url("/fonts/Pablopvsky-Regular.woff2") format("woff2"),
    url("/fonts/Pablopvsky-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.glyphsSprite.p {
  background-image: url(https://images.prismic.io/pablopvsky/bffc722a-2554-478e-8a15-e253e6b71bdf_splite_glyphs.png?auto=compress,format);
  background-size: 265px 260px;
}

.glyphsSprite.p.logo {
  background-position: 0 0;
}

.glyphsSprite.p.logo-p {
  background-position: -48px 0px;
  width: 150px;
  height: 41px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

.pablopvsky,
.header h1 {
  font-family: "pablopvsky";
}

.iAWriterMonoS {
  font-family: "iAWriterMonoS";
}

.figure-down {
  margin-top: 65px;
  margin-bottom: -8vh;
}

.blue-text {
  color: var(--aura-blue);
}

.purple-text {
  color: var(--aura-purple) !important;
}

.bg {
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://images.prismic.io/pablopvsky/fb63bde5-3e0b-46af-af0e-42cb8512394a_4b26254f-b757-41e0-a6a3-a40c22d99b38_background-circle-figure.jpeg?auto=compress,format);
}

.inputer textarea {
  color: var(--root);
}
