@font-face {
  font-family: "iAWriterMonoS";
  src: url("/fonts/iAWriterMonoS-Regular.woff2") format("woff2"),
    url("/fonts/iAWriterMonoS-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pablopvsky";
  src: url("/fonts/Pablopvsky-Regular.woff2") format("woff2"),
    url("/fonts/Pablopvsky-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.pablopvsky {
  font-family: "pablopvsky";
}

.iAWriterMonoS {
  font-family: "iAWriterMonoS";
}
